/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;500;700&display=swap');
/* Navbar styling */
body {
    overflow-x: hidden !important;
}
.main{
    padding-top: 6em;
}
#contact-body{
    padding-top: 0px;
}
.navbar{
    margin-bottom: 2em !important;
    color: #171717 
}
.navbar a{
    font-family: Barlow, sans-serif !important;
    font-weight: 400;
    font-size: medium;
    color: white !important;
}
.nav-item{
    padding-left: 32px !important ;
}
.nav-link.active{
    color: #FFB830 !important;
}
/* Hero image and Intro Text */
#hero {
    background-image: url(../images/hero_image_landing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 472px;
    border-radius: 3px;
    margin-top: 2em !important;
}
.hero-logo{
    font-family: Dokdo, sans-serif;
    color: white;
    font-size: 6.75em;
    padding-left: .25em;
    padding-top: 1em;
}
#intro-text{
    background-color: rgba(23, 23, 23, .7);
    width: 36%;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    padding: 2em;
    padding-bottom: 1.5em;
    margin-left: 2em;
    border-radius: 3px;
}
#intro-text p{
    color: white;
}
#intro-text p strong{
    color: #FFB830;
}
/* Display text */
.display-6 {
    font-family: barlow !important;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 40px;
}
/* French Camino Card and image */
.french-camino-card{
    font-family: Barlow, sans-serif;
    font-weight: 500;
    color: #171717;
    background-color: #FFB830 ;
    height: 20em;
    padding-left: 2em;
    padding-top: 5em;
    margin-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.french-camino-card h2{
    padding-bottom: 1em;
}
.french-camino-card p {
    padding-bottom: 1em;
    padding-right: 3em;
}
#french-image {
    background-image: url(../images/French_Camino.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 20em;
    margin-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
/* Portugese Camino Card and image */
.portugese-camino-card{
    font-family: Barlow, sans-serif;
    font-weight: 500;
    color: #FFB830;
    background-color: #171717 ;
    height: 20em;
    padding-right: 2em;
    padding-top: 5em;
    margin-right: 0;
    text-align: right;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.portugese-camino-card h2{
    padding-bottom: 1em;
    text-align: right;
}
.portugese-camino-card p{
    padding-bottom: 1em;
    padding-left: 5em;
    text-align: right;
}
#portugese-image {
    background-image: url(../images/Camino_Portugese.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 20em;
    margin-left: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
/* Madrid Camino Card and image */
.madrid-camino-card{
    font-family: Barlow, sans-serif;
    font-weight: 500;
    color: #171717;
    background-color: #FF2442 ;
    height: 20em;
    padding-left: 2em;
    padding-top: 5em;
    margin-right: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.madrid-camino-card h2{
    padding-bottom: 1em;
}
.madrid-camino-card p {
    padding-bottom: 1em;
    padding-right: 3em;
}
.madrid-camino-card p {
    padding-bottom: 1em;
    padding-right: 2em;
}
#madrid-image {
    background-image: url(../images/madrid_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 20em;
    margin-left: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
/* Camino Pages Styling */
#french-camino-page-intro {
    background-color: #FFB830;
    color: #171717;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    border-radius: 3px;
    padding: 1.75em;
    padding-top: 1.75em;
    padding-bottom: 1.5em;
}
#portugese-camino-page-intro {
    background-color: #171717;
    color: white;
    font-family: Barlow, sans-serif;
    font-weight: 400;
    border-radius: 3px;
    padding: 1.75em;
    padding-top: 1.75em;
    padding-bottom: 1.5em;
}
#madrid-camino-page-intro {
    background-color: #FF2442;
    color: #171717;
    font-family: Barlow, sans-serif;
    font-weight: 500;
    border-radius: 3px;
    padding: 1.75em;
    padding-top: 1.75em;
    padding-bottom: 1.5em;
}
#portugese-camino-page-intro p strong{
    color: #FFB830;
}
#madrid-camino-page-intro p strong{
    color: white;
}
#french-camino-page-title {
    padding-top: 1.5em;
    color:#171717;
}
#portugese-camino-page-title{
    padding-top: 1.5em;
    color:#171717;
}
#madrid-camino-page-title {
    padding-top: 1.5em;
    color:#171717;
}
#french-camino-page-banner {
    background-image: url(../images/horses_french.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 472px;
    border-radius: 3px;
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}
#portugese-camino-page-banner {
    background-image: url(../images/portugal-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 472px;
    border-radius: 3px;
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}
#madrid-camino-page-banner {
    background-image: url(../images/madrid-page-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 472px;
    border-radius: 3px;
    margin-top: 2em !important;
    margin-bottom: 2em !important;
}
/* Stats section of Camino Pages */
#stats-logo{
    padding-left: 45%;
    padding-right: 45%;
}
#time-section{
    text-align: center;
}
.time-logo {
    padding-top: 1.5em;
    padding-bottom: 2em;
}
.time-label{
    background-color: #171717;
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
}
.time-text {
    font-family: Barlow;
    font-size: 56px;
    text-align: center;
    font-weight: 200;
}
#weather-section{
    text-align: center;
}
#portugese-weather-section{
    margin-top: 1.2em;
    text-align: center;
}
#madrid-weather-section {
    margin-top: 1.5em;
    text-align: center;
}
.weather-logo {
    padding-bottom: 1em;
}
.weather-label{
    background-color: #FF2442;
    width: 35%;
    margin-left: 33%;
    margin-right: 33%;
    text-align: center;
}
.weather-text {
    font-family: Barlow;
    font-size: 56px;
    text-align: center;
    font-weight: 200;
    padding-top: 5px;
}
#Elevation-section{
    text-align: center;
}
.elevation-logo {
    padding-bottom: 2.5em;
}
.elevation-label{
    background-color: #3DB2FF;
    width: 40%;
    margin-left: 30%;
    margin-right: 34%;
    text-align: center;
}
.elevation-text {
    font-family: Barlow;
    font-size: 56px;
    text-align: center;
    font-weight: 200;
    padding-top: 5px;
}
#distance-section{
    text-align: center;
}
.distance-logo {
    padding-top: 4.5em;
    padding-bottom: 2.5em;
}
.distance-label{
    background-color: #FFEDDA;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
.distance-text {
    font-family: Barlow;
    font-size: 56px;
    text-align: center;
    font-weight: 200;
    padding-top: 5px;
}
/* Map Section of Camino Pages */
#france-iframe-map-section {
    height: 542px;
    background-color: #FFB830;
}
#portugese-iframe-map-section {
    height: 542px;
    background-color: #171717;
}
#madrid-iframe-map-section {
    height: 542px;
    background-color: #FF2442;
}
#our-route-logo{
    padding-left: 40%;
    padding-right: 40%;
    width: 20%;
    padding-top: 24px;
}
#french-map-section{
    width:100%;
    overflow: hidden;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5em;
}
#french-map-section iframe{
    width:100%;
    height:399px;
    overflow: hidden;
}
/* Gallery Section */
#gallery-logo{
    padding-left: 40%;
    padding-right: 40%;
    width: 20%;
    padding-top: 24px;
}
.image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
    grid-template-areas: 'img-1 img-2 img-3 img-3' 'img-1 img-4 img-5 img-6' 'img-7 img-7 img-8 img-6' 'img-9 img-10 img-11 img-11' 'img-9 img-12 img-13 img-14' 'img-15 img-15 img-16 img-14';
    padding-bottom: 32px;
}
.image-gallery-portugese {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
    grid-template-areas: 'img-1-portugese img-2-portugese img-3-portugese img-3-portugese' 'img-1-portugese img-4-portugese img-5-portugese img-6-portugese' 'img-7-portugese img-7-portugese img-8-portugese img-6-portugese' 'img-9-portugese img-10-portugese img-11-portugese img-11-portugese' 'img-9-portugese img-12-portugese img-13-portugese img-14-portugese' 'img-15-portugese img-15-portugese img-16-portugese img-14-portugese';
    padding-bottom: 32px;
}
.image-gallery-madrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1.5rem;
    grid-template-areas: 'img-1-madrid img-2-madrid img-3-madrid img-3-madrid' 'img-1-madrid img-4-madrid img-5-madrid img-6-madrid' 'img-7-madrid img-7-madrid img-8-madrid img-6-madrid' 'img-9-madrid img-10-madrid img-11-madrid img-11-madrid' 'img-9-madrid img-12-madrid img-13-madrid img-14-madrid' 'img-15-madrid img-15-madrid img-16-madrid img-14-madrid';
    padding-bottom: 32px;
}
.image-gallery a {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.image-gallery-portugese a {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.image-gallery-madrid a {
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.image-gallery a i{
    color:rgba(255, 255, 255, .6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 4rem;
    opacity: 0;
    transition: opacity .5s;
}
.image-gallery-portugese a i{
    color:rgba(255, 255, 255, .6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 4rem;
    opacity: 0;
    transition: opacity .5s;
}
.image-gallery-madrid a i{
    color:rgba(255, 255, 255, .6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255, 255, 255, .6);
    border-radius: 4rem;
    opacity: 0;
    transition: opacity .5s;
}
.image-gallery a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity .5s;
}
.image-gallery-portugese a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity .5s;
}
.image-gallery-madrid a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    opacity: 0;
    transition: opacity .5s;
}
.image-gallery a:hover i, .image-gallery a:hover::before {
    opacity: 1;
}
.image-gallery-portugese a:hover i, .image-gallery-portugese a:hover::before {
    opacity: 1;
}
.image-gallery-madrid a:hover i, .image-gallery-madrid a:hover::before {
    opacity: 1;
}
.img-1{
    grid-area: img-1;
    min-height: 51.5rem;
    background-image: url("../images/frenchgallery/img1.jpg");
}
.img-1-portugese{
    grid-area: img-1-portugese;
    min-height: 51.5rem;
    background-image: url("../images/portugesecamino/img1.jpg");
}
.img-1-madrid{
    grid-area: img-1-madrid;
    min-height: 51.5rem;
    background-image: url("../images/madridgallery/img1.jpg");
}
.img-2{
    grid-area: img-2;
    background-image: url("../images/frenchgallery/img2.jpg");
}
.img-2-portugese{
    grid-area: img-2-portugese;
    background-image: url("../images/portugesecamino/img2.jpg");
}
.img-2-madrid{
    grid-area: img-2-madrid;
    background-image: url("../images/madridgallery/img2.jpg");
}
.img-3{
    grid-area: img-3;
    background-image: url("../images/frenchgallery/img3.jpg");
}
.img-3-portugese{
    grid-area: img-3-portugese;
    background-image: url("../images/portugesecamino/img3.jpg");
}
.img-3-madrid{
    grid-area: img-3-madrid;
    background-image: url("../images/madridgallery/img3.jpg");
}
.img-4{
    grid-area: img-4;
    background-image: url("../images/frenchgallery/img4.jpg");
}
.img-4-portugese{
    grid-area: img-4-portugese;
    background-image: url("../images/portugesecamino/img4.jpg");
}
.img-4-madrid{
    grid-area: img-4-madrid;
    background-image: url("../images/madridgallery/img4.jpg");
}
.img-5{
    grid-area: img-5;
    background-image: url("../images/frenchgallery/img5.jpg");
}
.img-5-portugese{
    grid-area: img-5-portugese;
    background-image: url("../images/portugesecamino/img5.jpg") 
}
.img-5-madrid{
    grid-area: img-5-madrid;
    background-image: url("../images/madridgallery/img5.jpg") 
}
.img-6{
    grid-area: img-6;
    min-height: 51.5rem;
    background-image: url("../images/frenchgallery/img6.jpg");
}
.img-6-portugese{
    grid-area: img-6-portugese;
    min-height: 51.5rem;
    background-image: url("../images/portugesecamino/img6.jpg");
}
.img-6-madrid{
    grid-area: img-6-madrid;
    min-height: 51.5rem;
    background-image: url("../images/madridgallery/img6.jpg");
}
.img-7{
    grid-area: img-7;
    background-image: url("../images/frenchgallery/img7.jpg");
}
.img-7-portugese{
    grid-area: img-7-portugese;
    background-image: url("../images/portugesecamino/img7.jpg");
}
.img-7-madrid{
    grid-area: img-7-madrid;
    background-image: url("../images/madridgallery/img7.jpg");
}
.img-8{
    grid-area: img-8;
    background-image: url("../images/frenchgallery/img8.jpg");
}
.img-8-portugese{
    grid-area: img-8-portugese;
    background-image: url("../images/portugesecamino/img8.jpg");
}
.img-8-madrid{
    grid-area: img-8-madrid;
    background-image: url("../images/madridgallery/img8.jpg");
}
.img-9{
    grid-area: img-9;
    min-height: 51.5rem;
    background-image: url("../images/frenchgallery/img9.jpg");
}
.img-9-portugese{
    grid-area: img-9-portugese;
    min-height: 51.5rem;
    background-image: url("../images/portugesecamino/img9.jpg");
}
.img-9-madrid{
    grid-area: img-9-madrid;
    min-height: 51.5rem;
    background-image: url("../images/madridgallery/img9.jpg");
}
.img-10{
    grid-area: img-10;
    background-image: url("../images/frenchgallery/img10.jpg");
}
.img-10-portugese{
    grid-area: img-10-portugese;
    background-image: url("../images/portugesecamino/img10.jpg");
}
.img-10-madrid{
    grid-area: img-10-madrid;
    background-image: url("../images/madridgallery/img10.jpg");
}
.img-11{
    grid-area: img-11;
    background-image: url("../images/frenchgallery/img11.jpg");
}
.img-11-portugese{
    grid-area: img-11-portugese;
    background-image: url("../images/portugesecamino/img11.jpg");
}
.img-11-madrid{
    grid-area: img-11-madrid;
    background-image: url("../images/madridgallery/img11.jpg");
}
.img-12{
    grid-area: img-12;
    background-image: url("../images/frenchgallery/img12.jpg");
}
.img-12-portugese{
    grid-area: img-12-portugese;
    background-image: url("../images/portugesecamino/img12.jpg");
}
.img-12-madrid{
    grid-area: img-12-madrid;
    background-image: url("../images/madridgallery/img12.jpg");
}
.img-13{
    grid-area: img-13;
    background-image: url("../images/frenchgallery/img13.jpg");
}
.img-13-portugese{
    grid-area: img-13-portugese;
    background-image: url("../images/portugesecamino/img13.jpg");
}
.img-13-madrid{
    grid-area: img-13-madrid;
    background-image: url("../images/madridgallery/img13.jpg");
}
.img-14{
    grid-area: img-14;
    min-height: 51.5rem;
    background-image: url("../images/frenchgallery/img14.jpg");
}
.img-14-portugese{
    grid-area: img-14-portugese;
    min-height: 51.5rem;
    background-image: url("../images/portugesecamino/img14.jpg");
}
.img-14-madrid{
    grid-area: img-14-madrid;
    min-height: 51.5rem;
    background-image: url("../images/madridgallery/img14.jpg");
}
.img-15{
    grid-area: img-15;
    background-image: url("../images/frenchgallery/img15.jpg");
}
.img-15-portugese{
    grid-area: img-15-portugese;
    background-image: url("../images/portugesecamino/img15.jpg");
}
.img-15-madrid{
    grid-area: img-15-madrid;
    background-image: url("../images/madridgallery/img15.jpg");
}
.img-16{
    grid-area: img-16;
    background-image: url("../images/frenchgallery/img16.jpg");
}
.img-16-portugese{
    grid-area: img-16-portugese;
    background-image: url("../images/portugesecamino/img16.jpg");
}
.img-16-madrid{
    grid-area: img-16-madrid;
    background-image: url("../images/madridgallery/img16.jpg");
}
/* Footer */
#footer{
    background-color: #171717;
    height: 3em;
    margin-left: 0 !important;
    margin-right: 0 !important;
    color: white;
    font-family: Barlow, sans-serif;
    font-size: xx-small;
    text-align: right;
}
#footer p{
    padding-right: 12%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.container-fluid.footer{
    padding: 0;
}
/* Button Stylings */
.button-french{
    text-decoration: none;
    font-family: Barlow;
    color: black;
}
.button-portugese{
    text-decoration: none;
    font-family: Barlow;
    color: white;
}
.button-border{
    border: 1px;
    border-color: white;
    border-radius: 5px;
}
.button-french:hover{
    text-decoration: none;
    font-family: Barlow;
    color: white;
}
/* Contact page */
#contact-background {
    height: 100vh;
    background-image: url('../images/contact_us_greyscale_cropped.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.contact-form{
    background-color: rgba(255, 255, 255, .9);
    width: 30%;
    height: 650px;
    padding: 3em;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 60%;
    margin-top: 48px;
    margin-bottom: 24px;
    border-radius: 3px;
    right: 4em;
    font-family: Barlow, sans-serif;
    font-weight: 500;
    color: #171717;
    text-decoration: none;
}
.contact-logo{
    margin-bottom: 24px;
    text-align: center;
}
/* For large screen sizes from 1200 px wide and down */
@media screen and (max-width: 1200px) {
    #intro-text{
        width: 50%;
   }
    #french-camino-page-title {
        padding-top: 2em;
        color:#171717;
        text-align: center;
   }
    .contact-form{
        width: 60%;
        height: 650px;
        margin-left: 20%;
        margin-right: 20%;
   }
}
/* For medium screen sizes from 992 px wide and down */
/* For smallish screen sizes from 992 px wide and down */
@media screen and (max-width: 992px) {
    #french-camino-page-title {
        color:#171717;
        text-align: center;
   }
    #portugese-camino-page-title{
        padding-top: 1.5em;
        text-align: center;
   }
    #madrid-camino-page-title {
        padding-top: 1.5em;
        color:#171717;
        text-align: center;
   }
    #intro-text{
        width: 60%;
   }
    .french-camino-card{
        text-align: center;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
   }
    #french-image {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
   }
    .portugese-camino-card{
        text-align: center;
        padding-right: 1em;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
   }
    .portugese-camino-card h2{
        text-align: center;
   }
    .portugese-camino-card p{
        padding-left: 2em;
        text-align: center;
   }
    #portugese-image {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
   }
    .madrid-camino-card{
        text-align: center;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
   }
    #madrid-image {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
   }
    .contact-form{
        width: 60%;
        height: 650px;
        margin-left: 10%;
        margin-right: 10%;
   }
    .image-gallery{
        grid-template-areas: 'img-1 img-1 img-2 img-2' 'img-1 img-1 img-3 img-3' 'img-4 img-4 img-5 img-5' 'img-6 img-7 img-7 img-7' 'img-8 img-8 img-8 img-8' 'img-9 img-9 img-10 img-10' 'img-9 img-9 img-11 img-11' 'img-12 img-12 img-13 img-13' 'img-14 img-15 img-15 img-15' 'img-16 img-16 img-16 img-16';
   }
    .image-gallery-portugese{
        grid-template-areas: 'img-1-portugese img-1-portugese img-2-portugese img-2-portugese' 'img-1-portugese img-1-portugese img-3-portugese img-3-portugese' 'img-4-portugese img-4-portugese img-5-portugese img-5-portugese' 'img-6-portugese img-7-portugese img-7-portugese img-7-portugese' 'img-8-portugese img-8-portugese img-8-portugese img-8-portugese' 'img-9-portugese img-9-portugese img-10-portugese img-10-portugese' 'img-9-portugese img-9-portugese img-11-portugese img-11-portugese' 'img-12-portugese img-12-portugese img-13-portugese img-13-portugese' 'img-14-portugese img-15-portugese img-15-portugese img-15-portugese' 'img-16-portugese img-16-portugese img-16-portugese img-16-portugese';
   }
    .image-gallery-madrid{
        grid-template-areas: 'img-1-madrid img-1-madrid img-2-madrid img-2-madrid' 'img-1-madrid img-1-madrid img-3-madrid img-3-madrid' 'img-4-madrid img-4-madrid img-5-madrid img-5-madrid' 'img-6-madrid img-7-madrid img-7-madrid img-7-madrid' 'img-8-madrid img-8-madrid img-8-madrid img-8-madrid' 'img-9-madrid img-9-madrid img-10-madrid img-10-madrid' 'img-9-madrid img-9-madrid img-11-madrid img-11-madrid' 'img-12-madrid img-12-madrid img-13-madrid img-13-madrid' 'img-14-madrid img-15-madrid img-15-madrid img-15-madrid' 'img-16-madrid img-16-madrid img-16-madrid img-16-madrid';
   }
    .image-gallery a{
        height: 20rem;
   }
    .image-gallery-portugese a{
        height: 20rem;
   }
    .image-gallery-madrid a{
        height: 20rem;
   }
    .img-1{
        min-height: 41.5rem;
   }
    .img-1-portugese{
        min-height: 41.5rem;
   }
    .img-1-madrid{
        min-height: 41.5rem;
   }
    .img-6{
        min-height: 20rem;
   }
    .img-6-portugese{
        min-height: 20rem;
   }
    .img-6-madrid{
        min-height: 20rem;
   }
    .img-9{
        min-height: 41.5rem;
   }
    .img-9-portugese{
        min-height: 41.5rem;
   }
    .img-9-madrid{
        min-height: 41.5rem;
   }
    .img-14{
        min-height: 20rem;
   }
    .img-14-portugese{
        min-height: 20rem;
   }
    .img-14-madrid{
        min-height: 20rem;
   }
    .contact-form{
        width: 70%;
        height: 650px;
        margin-left: 15%;
   }
}
/* For small screen sizes from 768 px wide and down */
@media screen and (max-width: 768px) {
    #french-camino-page-title {
        color:#171717;
        text-align: center;
        padding-top: 5em;
   }
    #intro-text{
        width: 80%;
   }
    #french-camino-page-intro {
        text-align: center;
        margin-top: 2em;
   }
    #portugese-camino-page-intro {
        margin-top: 20px;
        text-align: center;
   }
    #madrid-camino-page-intro {
        margin-top: 25px;
        text-align: center;
   }
    #madrid-camino-page-title {
        padding-top: 2em;
        text-align: center;
   }
}
/* For smaller screen sizes from 576 px wide and down */
@media screen and (max-width: 576px) {
    .hero-logo{
        font-size: 6em;
   }
    #intro-text{
        width: 80%;
        text-align: center;
        margin-left: 3em;
   }
    #french-camino-page-title {
        color:#171717;
        text-align: center;
        padding-top: 3em;
   }
    .french-camino-card > button {
        margin-right: 30%;
        margin-left: 26%;
        text-align: center;
   }
    .portugese-camino-card > button {
        text-align: center;
        margin-left: 2em;
   }
    .madrid-camino-card > button {
        text-align: center;
        margin-left: 0em;
   }
    .image-gallery{
        grid-template-areas: 'img-1 img-1 img-1 img-1' 'img-2 img-2 img-2 img-2' 'img-3 img-3 img-3 img-3' 'img-4 img-4 img-4 img-4' 'img-5 img-5 img-5 img-5' 'img-6 img-6 img-6 img-6' 'img-7 img-7 img-7 img-7' 'img-8 img-8 img-8 img-8' 'img-9 img-9 img-9 img-9' 'img-10 img-10 img-10 img-10' 'img-11 img-11 img-11 img-11' 'img-12 img-12 img-12 img-12' 'img-13 img-13 img-13 img-13' 'img-14 img-14 img-14 img-14' 'img-15 img-15 img-15 img-15' 'img-16 img-16 img-16 img-16';
   }
    .image-gallery-portugese{
        grid-template-areas: 'img-1-portugese img-1-portugese img-1-portugese img-1-portugese' 'img-2-portugese img-2-portugese img-2-portugese img-2-portugese' 'img-3-portugese img-3-portugese img-3-portugese img-3-portugese' 'img-4-portugese img-4-portugese img-4-portugese img-4-portugese' 'img-5-portugese img-5-portugese img-5-portugese img-5-portugese' 'img-6-portugese img-6-portugese img-6-portugese img-6-portugese' 'img-7-portugese img-7-portugese img-7-portugese img-7-portugese' 'img-8-portugese img-8-portugese img-8-portugese img-8-portugese' 'img-9-portugese img-9-portugese img-9-portugese img-9-portugese' 'img-10-portugese img-10-portugese img-10-portugese img-10-portugese' 'img-11-portugese img-11-portugese img-11-portugese img-11-portugese' 'img-12-portugese img-12-portugese img-12-portugese img-12-portugese' 'img-13-portugese img-13-portugese img-13-portugese img-13-portugese' 'img-14-portugese img-14-portugese img-14-portugese img-14-portugese' 'img-15-portugese img-15-portugese img-15-portugese img-15-portugese' 'img-16-portugese img-16-portugese img-16-portugese img-16-portugese';
   }
    .image-gallery-madrid{
        grid-template-areas: 'img-1-madrid img-1-madrid img-1-madrid img-1-madrid' 'img-2-madrid img-2-madrid img-2-madrid img-2-madrid' 'img-3-madrid img-3-madrid img-3-madrid img-3-madrid' 'img-4-madrid img-4-madrid img-4-madrid img-4-madrid' 'img-5-madrid img-5-madrid img-5-madrid img-5-madrid' 'img-6-madrid img-6-madrid img-6-madrid img-6-madrid' 'img-7-madrid img-7-madrid img-7-madrid img-7-madrid' 'img-8-madrid img-8-madrid img-8-madrid img-8-madrid' 'img-9-madrid img-9-madrid img-9-madrid img-9-madrid' 'img-10-madrid img-10-madrid img-10-madrid img-10-madrid' 'img-11-madrid img-11-madrid img-11-madrid img-11-madrid' 'img-12-madrid img-12-madrid img-12-madrid img-12-madrid' 'img-13-madrid img-13-madrid img-13-madrid img-13-madrid' 'img-14-madrid img-14-madrid img-14-madrid img-14-madrid' 'img-15-madrid img-15-madrid img-15-madrid img-15-madrid' 'img-16-madrid img-16-madrid img-16-madrid img-16-madrid';
   }
    .image-gallery a, .img-1, .img-6{
        height: 20rem;
   }
    .image-gallery-portugese a, .img-1-portugese, .img-6-portugese{
        height: 20rem;
   }
    .image-gallery-madrid a, .img-1-madrid, .img-6-madrid{
        height: 20rem;
   }
    #stats-logo{
        padding-left: 40%;
        padding-right: 40%;
   }
    #time-section{
        text-align: center;
   }
    #weather-section{
        text-align: center;
        margin-top: 1.5em;
   }
    #Elevation-section{
        text-align: center;
        margin-top: 1.5em;
   }
    #distance-section{
        text-align: center;
   }
    #our-route-logo{
        padding-left: 30%;
        padding-right: 30%;
        width: 30%;
        padding-top: 24px;
   }
    #gallery-logo{
        padding-left: 27%;
        padding-right: 27%;
        width: 20%;
        padding-top: 24px;
   }
    .weather-label{
        background-color: #FF2442;
        width: 20%;
        margin-left: 40%;
        margin-right: 40%;
        text-align: center;
   }
    .elevation-label{
        background-color: #3DB2FF;
        width: 25%;
        margin-left: 37%;
        margin-right: 37%;
        text-align: center;
   }
    .distance-label{
        background-color: #FFEDDA;
        width: 25%;
        margin-left: 37%;
        margin-right: 37%;
        text-align: center;
   }
    .madrid-camino-card h2 img{
        padding-right: 1.5em;
   }
    .contact-form{
        width: 95%;
        height: 650px;
        margin-left: 2.5%;
        height: 80vh;
   }
}
/* For very small screen sizes from 480 px wide and down */
@media screen and (max-width: 480px) {
    .hero-logo{
        font-size: 4em;
        margin-left: 7%;
        margin-top: 72px;
   }
    #intro-text{
        width: 80%;
        text-align: center;
        padding: 10px;
        margin-left: 2em;
   }
    .french-camino-card > h2 > img {
        padding-bottom: .5em;
        padding-left: 16px;
        padding-right: 32px;
        width: 95%;
   }
    .french-camino-card p {
        padding-bottom: 1em;
        padding-right: 3em;
   }
    .french-camino-card > button {
        margin-right: 34%;
        margin-left: 26%;
        text-align: center;
   }
    .portugese-camino-card > h2 > img {
        padding-bottom: .5em;
        width: 85%;
   }
    .portugese-camino-card p {
        padding-bottom: 1em;
        padding-right: 2em;
   }
    .madrid-camino-card > h2 > img {
        padding-bottom: .5em;
        width: 95%;
   }
    .madrid-camino-card > button {
        margin-right: 36%;
        margin-left: 24%;
        text-align: center;
   }
    #stats-logo{
        padding-left: 35% !important;
        padding-right: 45% !important;
   }
    #our-route-logo{
        margin-left: 5%;
        padding-left: 10%;
        width: 30%;
        padding-top: 24px;
   }
    #gallery-logo{
        padding-left: 15%;
        margin-left: 5px;
        width: 20%;
        padding-top: 24px;
   }
    .weather-label{
        background-color: #FF2442;
        width: 20%;
        margin-left: 40%;
        margin-right: 40%;
        text-align: center;
   }
    .elevation-label{
        background-color: #3DB2FF;
        width: 25%;
        margin-left: 37%;
        margin-right: 37%;
        text-align: center;
   }
    .distance-label{
        background-color: #FFEDDA;
        width: 25%;
        margin-left: 37%;
        margin-right: 37%;
        text-align: center;
   }
    .madrid-camino-card h2 img{
        padding-right: 1.5em;
   }
    #contact-background {
        height: 690px;
        background-image: url('../images/contact_us_greyscale_cropped.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
   }
    .contact-form{
        background-color: rgba(255, 255, 255, .9);
        width: 95%;
        height: 650px;
        padding: 3em;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-left: 2%;
        margin-top: 48px;
        margin-bottom: 24px;
        border-radius: 3px;
        right: 4em;
        font-family: Barlow, sans-serif;
        font-weight: 500;
        color: #171717;
        text-decoration: none;
   }
    .contact-logo{
        margin-bottom: 24px;
        text-align: center;
   }
}
/* For very very small screen sizes from 320 px wide and down */
@media screen and (max-width: 320px) {
    .hero-logo{
        font-size: 3.5em;
        margin-left: 5%;
        margin-top: 72px;
   }
    #intro-text{
        width: 80%;
        text-align: center;
        padding: 10px;
        margin-left: 2em;
   }
    .french-camino-card > h2 > img {
        padding-bottom: 0;
        padding-left: 16px;
        padding-right: 32px;
        width: 95%;
   }
    .french-camino-card p {
        padding-bottom: .5em;
        padding-right: 2.5em;
   }
   .button-french {
       text-align: center;
       margin-left: 0;
   }
    .portugese-camino-card > h2 > img {
        padding-bottom: .5em;
        width: 85%;
   }
    .portugese-camino-card p {
        padding-bottom: .1em;
        padding-right: 1.5em;
   }
    .madrid-camino-card > h2 > img {
        padding-bottom: .5em;
        width: 95%;
   }
    .portugese-camino-card p {
        padding-bottom: .05em;
        padding-right: 1.5em;
   }
    .madrid-camino-card > button {
        margin-left: 20%;
        padding-top: 5px;
        text-align: center;
   }
    #contact-background {
        height: 690px;
        background-image: url('../images/contact_us_greyscale_cropped.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
   }
    .contact-form{
        background-color: rgba(255, 255, 255, .9);
        width: 95%;
        height: 600px;
        padding: 3em;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-left: 2%;
        margin-top: 48px;
        margin-bottom: 24px;
        border-radius: 3px;
        right: 4em;
        font-family: Barlow, sans-serif;
        font-weight: 500;
        color: #171717;
        text-decoration: none;
   }
    .contact-logo{
        margin-bottom: 24px;
        text-align: center;
   }
}
